.rankUser {
  width: 1400px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;

  table {
    border-collapse: collapse;
    th, td {
      border-bottom: 1px solid #e2e2e2;
      text-align: start;
      padding: 10px 24px;
    }
  }
}