.rankUser {
  font-family: 'Noto Sans KR', sans-serif;

  table {
    margin: 0 auto;
    border-collapse: collapse;

    th, td {
      padding: 10px 14px;
      border-bottom: 1px solid #e2e2e2;
      text-align: start;
    }

    th {
      font-size: 14px;
      font-weight: bold;
      padding: 30px 14px;
    }
  }
}