.RankPage {
  min-width: 1000px;

  .contributionContainer {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;

    .utilBox {
      display: flex;
      justify-content: flex-end;
    }

    @media only screen and (max-width: 1440px) {
      width: 95%; 
    }
  }
}