.RankPage {
  min-width: 1000px;

  .contributionContainer {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;

    .utilBox {
      display: flex;
      justify-content: space-between;

      div{
        display: flex;
        justify-content: flex-end;
      }

      button {
        box-sizing: border-box;
        padding: 5px 30px;
        background-color: #e2e2e2;
        border: none;
        color: #ffffff;
        cursor: pointer;
        outline: none;
      }
    }

    @media only screen and (max-width: 1440px) {
      width: 95%; 
    }
  }
}